# pandas advance 2

In [1]:
import pandas as pd

Q1. Write a code to print the data present in the second row of the dataframe, df.

In [2]:
data={"course_name":["Data Science", "Machine Learning", "Big Data", "Data Engineer"],
     "duration":[2,3,6,4]}

df=pd.DataFrame(data)
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [3]:
df1=df.iloc[1]
df1

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

loc = loc is primarily label-based indexing. It is used to access data using the row and column labels.

iloc = iloc is primarily integer-based indexing. It is used to access data using the integer positions of rows and columns.

Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df then find the output for both new_df.loc[2] and new_df.iloc[2].

In [4]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [9]:
index=[3,0,1,2]
df.index= index
df

        course_name  duration
3      Data Science         2
0  Machine Learning         3
1          Big Data         6
2     Data Engineer         4

In [10]:
new_df=df
new_df

        course_name  duration
3      Data Science         2
0  Machine Learning         3
1          Big Data         6
2     Data Engineer         4

In [11]:
new_df.loc[2]

course_name    Data Engineer
duration                   4
Name: 2, dtype: object

In [12]:
new_df.iloc[2]

course_name    Big Data
duration              6
Name: 1, dtype: object

acc.to me new_df.loc[2] giving us manually index that we made
and new_df.iloc[2] giving us the in-built index.

Q4. Write a code to find the following statistical measurements for the above dataframe df1:
(i) mean of each and every column present in the dataframe.
(ii) standard deviation of column, ‘column_2’

In [1]:
import pandas as pd
import numpy as np

In [3]:
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.720177  0.695259  0.444901  0.611784  0.120405  0.079397
2  0.012249  0.816237  0.276224  0.362490  0.128723  0.561684
3  0.169425  0.915172  0.596388  0.203354  0.004806  0.901725
4  0.434798  0.387084  0.797427  0.591678  0.610039  0.570039
5  0.086621  0.917992  0.126909  0.541829  0.699131  0.166629
6  0.431928  0.898815  0.851113  0.628510  0.699894  0.202089

In [8]:
np.mean(df1[["column_1","column_2",	"column_3",	"column_4","column_5",	"column_6"]])

/opt/conda/lib/python3.10/site-packages/numpy/core/fromnumeric.py:3430: FutureWarning: In a future version, DataFrame.mean(axis=None) will return a scalar mean over the entire DataFrame. To retain the old behavior, use 'frame.mean(axis=0)' or just 'frame.mean()'
  return mean(axis=axis, dtype=dtype, out=out, **kwargs)

column_1    0.309200
column_2    0.771760
column_3    0.515494
column_4    0.489941
column_5    0.377166
column_6    0.413594
dtype: float64

In [9]:
np.std(df1["column_2"])

0.18881220549447647

In [11]:
df1["column_2"][1:2]="mukesh"
df1

/tmp/ipykernel_139/1804692089.py:1: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  df1["column_2"][1:2]="mukesh"

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.720177  0.695259  0.444901  0.611784  0.120405  0.079397
2  0.012249    mukesh  0.276224  0.362490  0.128723  0.561684
3  0.169425  0.915172  0.596388  0.203354  0.004806  0.901725
4  0.434798  0.387084  0.797427  0.591678  0.610039  0.570039
5  0.086621  0.917992  0.126909  0.541829  0.699131  0.166629
6  0.431928  0.898815  0.851113  0.628510  0.699894  0.202089

In [17]:
str="mukesh"

df1.loc[3:,"column_2"]=str
df1

   column_1 column_2  column_3  column_4  column_5  column_6
1  0.720177   mukesh  0.444901  0.611784  0.120405  0.079397
2  0.012249   mukesh  0.276224  0.362490  0.128723  0.561684
3  0.169425   mukesh  0.596388  0.203354  0.004806  0.901725
4  0.434798   mukesh  0.797427  0.591678  0.610039  0.570039
5  0.086621   mukesh  0.126909  0.541829  0.699131  0.166629
6  0.431928   mukesh  0.851113  0.628510  0.699894  0.202089

In [24]:


t1=df1['column_2'] = pd.to_numeric(df1['column_2'], errors='coerce')

t1
np.mean(t1)

nan

Q6. What do you understand about the windows function in pandas and list the types of windows
functions?

In pandas, a "window" function is a way of performing operations on a specified set of rows, often referred to as a "window" or "window frame," which is determined based on some criteria such as a fixed number of preceding and/or following rows, a time range, or any other user-defined condition.

.rolling() and .expanding() methods for Series and DataFrames. The most common types of window functions in pandas

Q7. Write a code to print only the current month and year at the time of answering this question.
[Hint: Use pandas.datetime function]

In [12]:
import pandas as pd
df3=pd.date_range(start="2023-08-1",end="2023-08-30")
df3

DatetimeIndex(['2023-08-01', '2023-08-02', '2023-08-03', '2023-08-04',
               '2023-08-05', '2023-08-06', '2023-08-07', '2023-08-08',
               '2023-08-09', '2023-08-10', '2023-08-11', '2023-08-12',
               '2023-08-13', '2023-08-14', '2023-08-15', '2023-08-16',
               '2023-08-17', '2023-08-18', '2023-08-19', '2023-08-20',
               '2023-08-21', '2023-08-22', '2023-08-23', '2023-08-24',
               '2023-08-25', '2023-08-26', '2023-08-27', '2023-08-28',
               '2023-08-29', '2023-08-30'],
              dtype='datetime64[ns]', freq='D')

In [13]:
df3

DatetimeIndex(['2023-08-01', '2023-08-02', '2023-08-03', '2023-08-04',
               '2023-08-05', '2023-08-06', '2023-08-07', '2023-08-08',
               '2023-08-09', '2023-08-10', '2023-08-11', '2023-08-12',
               '2023-08-13', '2023-08-14', '2023-08-15', '2023-08-16',
               '2023-08-17', '2023-08-18', '2023-08-19', '2023-08-20',
               '2023-08-21', '2023-08-22', '2023-08-23', '2023-08-24',
               '2023-08-25', '2023-08-26', '2023-08-27', '2023-08-28',
               '2023-08-29', '2023-08-30'],
              dtype='datetime64[ns]', freq='D')

In [14]:
current_timestamp= pd.Timestamp.now()

current_month=current_timestamp.month
current_year=current_timestamp.year

print("current month :", current_month)
print("current year :", current_year)

current month : 8
current year : 2023

Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
calculates the difference between them in days, hours, and minutes using Pandas time delta. The
program should prompt the user to enter the dates and display the result.

In [18]:
import pandas as pd

def get_date_input(prompt):
    while True:
        try:
            date_str = input(prompt)
            date_obj = pd.to_datetime(date_str, format='%Y-%m-%d')
            return date_obj
        except ValueError:
            print("Invalid date format. Please enter the date in the format YYYY-MM-DD.")

def main():
    print("Enter two dates in the format YYYY-MM-DD:")
    
    # Get the first date from the user
    date1 = get_date_input("Enter the first date: ")

    # Get the second date from the user
    date2 = get_date_input("Enter the second date: ")

    # Calculate the time difference using Pandas timedelta
    time_difference = date2 - date1

    # Extract days, hours, and minutes from the timedelta
    days = time_difference.days
    hours = time_difference.seconds // 3600
    minutes = (time_difference.seconds % 3600) // 60

    # Display the result
    print(f"Difference between the two dates:")
    print(f"Days: {days}")
    print(f"Hours: {hours}")
    print(f"Minutes: {minutes}")

if __name__ == "__main__":
    main()

Enter two dates in the format YYYY-MM-DD:

Enter the first date:  2023-08-21
Enter the second date:  2023-09-10

Difference between the two dates:
Days: 20
Hours: 0
Minutes: 0


Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified
column to a categorical data type. The program should prompt the user to enter the file path, column
name, and category order, and then display the sorted data.

In [1]:
import pandas as pd

def read_csv_convert_to_categorical(file_path, column_name, category_order):
    # Read the CSV file
    try:
        df = pd.read_csv(file_path)
    except FileNotFoundError:
        print("Error: File not found. Please check the file path and try again.")
        return

    # Convert the specified column to a categorical data type with the given order
    try:
        df[column_name] = pd.Categorical(df[column_name], categories=category_order, ordered=True)
    except KeyError:
        print("Error: Column name not found in the CSV file. Please check the column name and try again.")
        return

    # Sort the data based on the specified category order
    sorted_df = df.sort_values(by=column_name)

    # Display the sorted data
    print(sorted_df)

if __name__ == "__main__":
    # Prompt the user to enter the file path, column name, and category order
    file_path = input("Enter the CSV file path: ")
    column_name = input("Enter the column name to convert to categorical: ")
    category_order = input("Enter the category order (comma-separated values): ").split(',')

    # Call the function to read and process the data
    read_csv_convert_to_categorical(file_path, column_name, category_order)

Enter the CSV file path:  45
Enter the column name to convert to categorical:  we
Enter the category order (comma-separated values):  ty

Error: File not found. Please check the file path and try again.

Q10. Write a Python program that reads a CSV file containing sales data for different products and
visualizes the data using a stacked bar chart to show the sales of each product category over time. The
program should prompt the user to enter the file path and display the chart.

In [ ]:
import matplotlib.pyplot as plt

def visualize_sales_data(file_path):
    # Read the CSV file
    try:
        df = pd.read_csv(file_path)
    except FileNotFoundError:
        print("Error: File not found. Please check the file path and try again.")
        return

    # Assuming the CSV contains columns 'Date', 'Product', and 'Sales'
    # If the column names are different, replace them accordingly
    try:
        df['Date'] = pd.to_datetime(df['Date'])
    except KeyError:
        print("Error: The CSV file should contain 'Date', 'Product', and 'Sales' columns.")
        return

    # Group data by 'Date' and 'Product' and sum the 'Sales' for each product
    grouped_data = df.groupby(['Date', 'Product'])['Sales'].sum().reset_index()

    # Pivot the data to create a matrix where columns are 'Date', and rows are 'Product' with sales values
    pivot_data = grouped_data.pivot(index='Product', columns='Date', values='Sales').fillna(0)

    # Create the stacked bar chart
    pivot_data.plot(kind='bar', stacked=True, figsize=(12, 6))
    plt.xlabel('Product Categories')
    plt.ylabel('Sales')
    plt.title('Sales of Each Product Category Over Time')
    plt.legend(title='Date', loc='upper left')
    plt.xticks(rotation=45, ha='right')
    plt.tight_layout()

    # Display the chart
    plt.show()

if __name__ == "__main__":
    # Prompt the user to enter the file path
    file_path = input("Enter the CSV file path: ")

    # Call the function to read and visualize the data
    visualize_sales_data(file_path)

Enter the CSV file path:  67

Error: File not found. Please check the file path and try again.

Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write
a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and
displays the results in a table.

In [ ]:
def calculate_statisitcs(file_path):
    try:
        df=pd.read_csv(file_path)
    except   filenotfounferror:
        pirnt(""Error: File not found. Please check the file path and try again.")
        
        return  
    
     mean_score=df["Test Score"].mean()
     
     median_score=df["Test Score"].median()         
     
     mode_score=df["Test Score"].mode()
     
     statistics_table = pd.DataFrame({
        'Statistic': ['Mean', 'Median', 'Mode'],
        'Value': [mean_score, median_score, ', '.join(map(str, mode_scores))]
    })